.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            font-size: 22px;
            font-weight: bold;
        }

        input {
            margin-top: 20px;
            border: 1px solid #b3adad;
            border-radius: 4px;
            height: 48px;
            padding: 0 20px;
            font-size: 16px;
            color: #666666;
            width: 100%;
        }

        input::placeholder {
            color: #999
        }

        button {
            color: #fff;
            padding: 5px 10px;
            border-radius: 4px;
            background: #0043ff;
            border: none;
            cursor: pointer;
            margin-top: 20px;

            &:enabled:hover {
                background: #033ee2;
            }

            &:disabled {
                cursor: default;
                opacity: 0.5;
            }
        }
    }
}