@import url('https://fonts.googleapis.com/css?family=Marvel:700&display=swap');

.main {
    height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.table {
    overflow-y: auto;
    height: calc(100% - 53px);
}

.MuiPaper-elevation1 {
    box-shadow: none !important;
}

.MuiPaper-rounded {
    border-radius: 0 !important;
}

.MuiTableHead-root {
    background-color: #F0141E;
}

.MuiTableCell-head {
    font-family: 'Marvel', 'Roboto', Arial, Helvetica, sans-serif;
    color: #fff !important;
    font-weight: bold !important;
}

.MuiTableCell-root {
    padding: 12px 15px !important;
}

.nomeTabela {
    cursor: pointer;
    width: 100%;
    max-width: 210px;
    font-weight: bold;
    transition: all 0.15s ease-in-out;

    &:hover {
        color: #F0141E;
    }
}

.reticensias {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.div {
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.4);

    p {
        margin-right: 50px;
        color: #5C5C5C;
    }

    button {
        cursor: pointer;
        margin: 0 10px;
        background: none;
        border: none;
        font-weight: bold;
        transition: all 0.15s ease-in-out;
        color: #000;

        &:enabled:hover {
            color: #eb2328;
            text-decoration: underline;
        }
    
        &:disabled {
            cursor: default;
            opacity: 0.5;
        }
    }
}

.loaderList {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
}