.character-container {
    padding-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
        font-weight: bold;
        font-size: 16px;
        max-width: 500px;
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }
}

.character {
    max-width: 600px;
    width: 100%;
    display: flex;
    height: 150px;

    img {
        height: 120px;
        width: 120px;
        border: 1px solid;
        border-radius: 2px;
        margin: auto 0;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0 10px 0 20px;
        width: 100%;
        max-width: 390px;

        textarea {
            height: 100%;
            margin-top: 10px;
            resize: none;
            border-radius: 2px;
            padding: 5px;
            font-size: 12px;
        }
    }

    button {
        color: #fff;
        padding: 10px 30px;
        border-radius: 4px;
        background: #0043ff;
        border: none;
        cursor: pointer;
        height: fit-content;
        transform: translateY(65px);
        font-size: 12px;

        &:enabled:hover {
            background: #033ee2;
        }
    }
}

.comics {
    max-width: 500px;
    width: 100%;
    display: flex;
    height: 90px;
    border-top: 1px solid;
    padding-top: 10px;
    margin-bottom: 20px;

    img {
        height: 50px;
        width: 50px;
        border: 1px solid;
        border-radius: 2px;
        margin-top: 15px;
    }
}

.infosComic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 0 0 15px;
    width: 100%;
    max-width: 450px;

    div {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        
        div {
            max-width: 310px;
            width: 100%;
            justify-content: flex-start;

            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        div + div {
            width: 100%;
            max-width: 122px;
        }
    }

    p {
        height: fit-content;
        width: fit-content;
        border: none;
        margin: 0 0 0 3px;
    }

    textarea {
        height: 100%;
        margin-top: 10px;
        resize: none;
        border-radius: 2px;
        padding: 5px;
        font-size: 12px;
    }
}

.loader {
    margin-top: 9em;
}